/* HEADER */
#header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--heigth-header);
  padding-left: 1rem;
  padding-right: 1rem;
}

.header__logo {
  position: relative;
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.header__logo::after {
  position: absolute;
  content: '';
  display: block;
  right: -10px;
  bottom: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #fc00ff;
  font-size: 3rem;
}

.header__menu ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.header__menu ul li a {
  color: white;
}

.header__menu ul li a.header__signup {
  color: #fee1ff;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;
}

.header__menu ul li a.header__signup:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.5);
}
