.signup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 400px;
  min-height: calc(100vh - var(--heigth-form));
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.6rem;
  background-color: #fff;
}

.signup > div {
  width: 100%;
}

.signup h2 {
  font-size: 2rem;
  text-align: center;
}

.signup p {
  text-align: center;
  opacity: 0.8;
  font-size: 0.9rem;
}

.form {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form button {
  background-color: #fc00ff;
  border: 2px solid #fc00ff;
  color: #fff;
  font-size: 1rem;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
